.app {
  display: block;
  padding: var(--spacing-3);
  background-color: #f3f3f3;
}

.app__body {
  padding: var(--spacing-3);
}

.graph-container {
  border-radius: 4px;
  background-color: white;
  padding: var(--spacing-3);
}